#   | DTYPE                     | EBIAS       | RMODE                     | FCALIB         |        | AFN
# L | I    A    O     W    B    | I A O  W B  | I    A    O     W    B    | I    A    O    | WCALIB | LUT
#*default
  -2  FP32 NF16 NF14E NF16 NF16   0 0 0  0 0    EVEN EVEN EVEN  EVEN EVEN   NONE NONE NONE   NONE     0
